TWILIO_ENABLED=false
TWILIO_ACCOUNT_SID=
TWILIO_API_KEY_SID=
TWILIO_API_KEY_SECRET=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_WHATSAPP=+14155238886
TWILIO_TO_WHATSAPP=

TWILIO_TEMPLATE_STOCK_MINIMO=HX934c91515643712dc8f708bf61648bf8
TWILIO_TEMPLATE_LOTE_INICIO=HX3eddc56a7cf3160163daa065a022d873
TWILIO_TEMPLATE_LOTE_FIN=HX69811128c607414adbe80136ffe5a0cd
